h1 {
    color : red;
}
h2 {
    color : green;
}
body {
    background-color : rgb(179, 179, 179);
}

#absatz {
    color : yellow;
}

#absatz {
    color : orange;
}

.gruen {
    color : green;
}

.lila {
    color : purple;
}

.groß {
    font-size: 2em;
}

.klein {
    font-size: 0.5em;
}