body {
    float: left;
    height: 98vh;
    width: 99vw;
}

.mid {
    float: left;
    height: 83%;
    width: 100%;
    background-color: lightblue;
}

.head {
    float: left;
    height: 10%;
    width: 100%;
    background-color:orange;
}

.footer {
    float: left;
    height: 7%;
    width: 100%;
    background-color: lightgreen;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3em;
}

.menu {
    float: left;
    width: 20%;
    height: 97%;
    text-align: center;
    font-size: 3em;
    background-color: lightgray;
    outline: 1px solid orange; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content {
    float: left;
    width: 80%;
    height: 100%;
    background-color: rgb(44, 168, 206);
    outline: 1px solid lightblue;
    font-size: 1.5em;
}

.contenttext {
    margin: 5%;
}

.side {
    float: right;
    width: 20%;
    height: 100%;
    background-color: rgb(15, 15, 82);
    outline: 1px solid lightblue;
}
.sidelement {
    float: right;
    width: 100%;
    height: 50%;
    background-color: lightskyblue;
    outline: 1px solid rgb(15, 15, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
}

.bild {
    width: 3%;
    height: auto;
}

.bild2 {
    float: right;
    width: 20%;
    height: auto;
    margin-right: 5%;
    margin-top: 5%;
}